<h1>Show Entry</h1>

<ul>

  <li>
    <strong>Source:</strong>
    <%= @entry.source %>
  </li>

  <li>
    <strong>Translation:</strong>
    <%= @entry.translation %>
  </li>

  <li>
    <strong>Example:</strong>
    <%= @entry.example %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.entry_path(@conn, :edit, @entry) %></span> |
